src/main/mule/mule-4-hello-world.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f3f51c6a-463a-4cca-85bc-575fa8069236" basePath="/api" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="say-hello-mule4-dockerFlow">
		<http:listener doc:name="Listener" config-ref="HTTP_Listener_config" path="hello-world"/>
		<set-payload value="#['Hello from Mule ' ++ mule.version]" doc:name="Set Payload" doc:id="b6c04ee9-6b59-46ce-8b79-1a20b63851f8" mimeType="text/plain"/>
	</flow>
</mule>
